In [1]:
import pandas as pd

In [2]:
 names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

In [7]:
data=pd.read_csv('pima-indians-diabetes.csv',names=names)

In [8]:
data

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [10]:
peek = data.head(20)

In [11]:
peek

    preg  plas  pres  skin  test  mass   pedi  age  class
0      6   148    72    35     0  33.6  0.627   50      1
1      1    85    66    29     0  26.6  0.351   31      0
2      8   183    64     0     0  23.3  0.672   32      1
3      1    89    66    23    94  28.1  0.167   21      0
4      0   137    40    35   168  43.1  2.288   33      1
5      5   116    74     0     0  25.6  0.201   30      0
6      3    78    50    32    88  31.0  0.248   26      1
7     10   115     0     0     0  35.3  0.134   29      0
8      2   197    70    45   543  30.5  0.158   53      1
9      8   125    96     0     0   0.0  0.232   54      1
10     4   110    92     0     0  37.6  0.191   30      0
11    10   168    74     0     0  38.0  0.537   34      1
12    10   139    80     0     0  27.1  1.441   57      0
13     1   189    60    23   846  30.1  0.398   59      1
14     5   166    72    19   175  25.8  0.587   51      1
15     7   100     0     0     0  30.0  0.484   32      1
16     0   118    84    47   230  45.8  0.551   31      1
17     7   107    74     0     0  29.6  0.254   31      1
18     1   103    30    38    83  43.3  0.183   33      0
19     1   115    70    30    96  34.6  0.529   32      1

In [12]:
data.shape

(768, 9)

# 5.3 Data Type For Each Attribute

In [13]:
types = data.dtypes
print(types)

preg       int64
plas       int64
pres       int64
skin       int64
test       int64
mass     float64
pedi     float64
age        int64
class      int64
dtype: object

#  5.4 Descriptive Statistics

In [14]:
data.describe()

,preg,plas,pres,skin,test,mass,pedi,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [25]:
import pandas as pd

filename = "pima-indians-diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
data = pd.read_csv(filename, names=names)

# Set options for display width and float formatting
pd.set_option('display.width', 100)
pd.set_option('display.float_format', '{:.3f}'.format)

description = data.describe()
description

         preg    plas    pres    skin    test    mass    pedi     age   class
count 768.000 768.000 768.000 768.000 768.000 768.000 768.000 768.000 768.000
mean    3.845 120.895  69.105  20.536  79.799  31.993   0.472  33.241   0.349
std     3.370  31.973  19.356  15.952 115.244   7.884   0.331  11.760   0.477
min     0.000   0.000   0.000   0.000   0.000   0.000   0.078  21.000   0.000
25%     1.000  99.000  62.000   0.000   0.000  27.300   0.244  24.000   0.000
50%     3.000 117.000  72.000  23.000  30.500  32.000   0.372  29.000   0.000
75%     6.000 140.250  80.000  32.000 127.250  36.600   0.626  41.000   1.000
max    17.000 199.000 122.000  99.000 846.000  67.100   2.420  81.000   1.000

#  5.5 Class Distribution (Classification Only)

In [28]:
 class_counts = data.groupby('class').size()
 print(class_counts)

class
0    500
1    268
dtype: int64

#  5.6 Correlations Between Attributes

In [30]:
correlations = data.corr()
print(correlations)

        preg  plas  pres   skin   test  mass   pedi    age  class
preg   1.000 0.129 0.141 -0.082 -0.074 0.018 -0.034  0.544  0.222
plas   0.129 1.000 0.153  0.057  0.331 0.221  0.137  0.264  0.467
pres   0.141 0.153 1.000  0.207  0.089 0.282  0.041  0.240  0.065
skin  -0.082 0.057 0.207  1.000  0.437 0.393  0.184 -0.114  0.075
test  -0.074 0.331 0.089  0.437  1.000 0.198  0.185 -0.042  0.131
mass   0.018 0.221 0.282  0.393  0.198 1.000  0.141  0.036  0.293
pedi  -0.034 0.137 0.041  0.184  0.185 0.141  1.000  0.034  0.174
age    0.544 0.264 0.240 -0.114 -0.042 0.036  0.034  1.000  0.238
class  0.222 0.467 0.065  0.075  0.131 0.293  0.174  0.238  1.000

In [31]:
 correlations = data.corr(method='pearson')
 print(correlations)

        preg  plas  pres   skin   test  mass   pedi    age  class
preg   1.000 0.129 0.141 -0.082 -0.074 0.018 -0.034  0.544  0.222
plas   0.129 1.000 0.153  0.057  0.331 0.221  0.137  0.264  0.467
pres   0.141 0.153 1.000  0.207  0.089 0.282  0.041  0.240  0.065
skin  -0.082 0.057 0.207  1.000  0.437 0.393  0.184 -0.114  0.075
test  -0.074 0.331 0.089  0.437  1.000 0.198  0.185 -0.042  0.131
mass   0.018 0.221 0.282  0.393  0.198 1.000  0.141  0.036  0.293
pedi  -0.034 0.137 0.041  0.184  0.185 0.141  1.000  0.034  0.174
age    0.544 0.264 0.240 -0.114 -0.042 0.036  0.034  1.000  0.238
class  0.222 0.467 0.065  0.075  0.131 0.293  0.174  0.238  1.000

#  5.7 Skew of Univariate Distributions

In [32]:
 skew = data.skew()
 print(skew)

preg     0.902
plas     0.174
pres    -1.844
skin     0.109
test     2.272
mass    -0.429
pedi     1.920
age      1.130
class    0.635
dtype: float64